@import "../../mixin";
@import "../../variables";
#intro {
  background: #22262f;
  color: #fff;
}
.se01_h {
  text-align: center;
  padding: 2% 0;
}
.main {
  .process {
    width: calc(50% - 0.5px);
    padding: 15px 6px;
    margin-bottom: 1px;
    // background: #7971d4;
    text-align: center;
    @include tablet {
      width: calc(25% - 1px);
    }
  }
}
.feature {
  h1 {
    font-weight: 500;
  }
  p {
    margin: 20px 0;
  }
}
