@import "../../variables";
@import "../../mixin";
.col {
  margin-bottom: 3%;
}
@include tablet {
  .col2 {
    width: calc(50% - 10px);
  }
  .col3 {
    width: calc((100% / 3) - 6px);
  }
}

.title {
  // background: #333;
  color: #fff;
  width: 100%;
  border-radius: 7px 7px 0px 0px;
  height: 38px;
  float: left;
  display: flex;
  text-overflow: ellipsis;
  font-size: 18px;
}
.desc {
  border: 1px solid #ddd;
  padding: 20px 20px;
  height: calc(100% - 38px);
  // clear: left;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  // background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  // background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  // background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}
