@import "../../variables";
.header {
  background: #000313;
  height: 100vh;
  width: 100%;
  color: #fff;
  overflow: hidden;
  .static {
    background: url(../../img/light.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .vigne {
      background: url(../../img/vignette.png) no-repeat center;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
  .text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translatey(-50%);
    h1 {
      font-size: 4vw;
      letter-spacing: 20px;
      //   font-weight: 500;
      color: $primary-color;
      span {
        font-weight: 500;
        color: #fff;
      }
    }
    .small {
      letter-spacing: 9px;
      font-size: 90%;
    }
    ul {
      text-transform: capitalize;
      line-height: 2;
      font-size: 20px;
      font-weight: 300;
      margin-top: 20px;
      li {
        text-indent: 30px;
        &::before {
          content: "";
          display: inline-block;
          position: relative;
          width: 4px;
          height: 4px;
          border-radius: 100px;
          background: #fff;
          top: -4px;
          left: -6px;
        }
      }
    }
  }
}
